* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logo-maromba {

    display: flex;
    width: 15vh;
    border-radius: 8px;
    position: absolute;
    right: 20px; 
    
    top: 1vh;
    position: fixed;
    filter: grayscale(100%);

}

h1 {

    color: aliceblue;
    padding: 10px;
    text-align: center;
}



body {

    background-color: light-dark(white, black);
    color: light-dark(black, white);
}

.mainLogin {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #333;
}

.left-login{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: #333;
}



.left-login > h2{
    
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.left-login > img{
    
    width: 720px;
    height: 600px;
    border-radius: 20%;
    margin-bottom: 20px;
    filter: grayscale(100%);
}




.right-login{
    
    display: flex;

    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: #333;
}


form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50vh;
    padding: 35px 30px;
    background-color: grey;
    border-radius: 30px
}




footer {
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
    padding: 40px;
    margin-top: 100px;
    background-color: #333;
    color: white;
    width: 100% 
}

footer a {
    color: white; 
    text-decoration: none;
}