* {
  margin: 0;
  padding: 0;

}
.header {
  color: #ccc;
  display: flex;
  justify-content: space-between;
   position: absolute;
   right: 10%;
   top: 5%;
}

button {
background-color: white;
color: black;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

body {

  background-color: light-dark(white, black);
  color: light-dark(black, white);

}


main{
display: flex;
flex-wrap: wrap;

}

.destaque {
  width: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 0%;

}

.img-destaque {

border-color: aliceblue;
position: relative;
top: -90px;
left: 10px;
}

.h3-destaque {
    color: whitesmoke;
    position: relative;
    left: 10px;

}
.txt-destaque {
    padding-left: 50%;
    font-weight: bold; 
    margin-bottom: 10px; 
    color: whitesmoke;
}


article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ccc;
  margin: 5px;
  border-radius: 3%;
}

header{
  background-color: black;
  padding: 1vh;

}

.logo-maromba {
  display: flex;
    width: 15vh;
    border-radius: 8px;
    position: absolute;
    right: 20px; 
    top: 1vh;
    position: fixed;
}

h1 {

  color: aliceblue;
  margin: 0px;
  padding: 10px;
  text-align: left;

}

img {
  border: 2px solid rgb(10, 10, 10);
  border-radius: 8px;
  padding: 1px;
  margin-bottom:40px;

}

p {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  padding: 1vh;
  margin-left: 1vh;
  font-size: 20px;

}

footer {
  display: flex;
  justify-content: space-between; 
  align-items: baseline;
  padding: 40px;
  margin-top: 100px;
  background-color: #333;
  color: white;
  width: 100% 
}

footer a {
  color: white; 
  text-decoration: none;
}

.pagina2 {
    color: #333;

}

.noticiaifr {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 55vh;     
  background-color: #333;
}

.pdestaque {
  color: black;
  font-size: 3vh;
  text-align: center;
  padding: 15px;
  margin-left: 16vw;

}

.img-login {
  /* width: 30vh; */
  position: absolute;
left: 0px; 
  /* top: 1vh; */
  position: fixed;
}