* {
  margin: 0;
  padding: 0;

}
.header {
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

body {
  background-color: rgb(255, 255, 255);
}


main{
display: flex;
flex-wrap: wrap;

}

.destaque {
  width: 100vh;
  background-color: rgb(0, 255, 64);
  padding: 0%;

}

hr {
  margin: 1vh;

}

article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ccc;
  margin: 5px;
}

header{
  background-color: black;
  padding: 1vh;

}

h1 {

  color: aliceblue;
  margin: 0px;
  padding: 10px;
  text-align: left;

}

img {
  border: 2px solid rgb(10, 10, 10);
  border-radius: 8px;
  padding: 1px;
  margin-bottom:40px;

}

p {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  padding: 1vh;
  

}