/*estilo do cabeçalho*/
header {
    text-align: center; 
    padding: 20px;
 }
 /*alinhamento de texto*/
 h4 {
    text-indent: 20px;
  }
  /*formato da imagem*/
  img {
    border: 2px solid rgb(68, 59, 59);
    border-radius: 10px;
    padding: 0px;
  }
   /*alinhamneto da imagem*/
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  a {
    padding: 370px ;
  }